@import "tailwindcss";
@font-face {
  font-family: "Neucha";
  src: url("/fonts/Neucha-Regular.woff2") format("woff2"),
    url("/fonts/Neucha-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Neucha", sans-serif;
  background-image: url("/NoiseBackground2.png");
  background-repeat: repeat;
  background-size: auto;
  background-color: #181b17; /* темно-серый, например */
  margin: 0;
}
